@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&family=Square+Peg&display=swap");
* {
  margin: 0;
  padding: 0;
}

/*   html{
    overflow-x: hidden;
} */
.banner-image {
  background-image: url(https://res.cloudinary.com/da5fzpyjp/image/upload/v1676689253/flores/pexels-photo-6331085_egvusn.jpg);
  background-size: cover;
  height: 15rem;
}

#lg-bag {
  display: block;
}

#mobile a {
  margin-left: 10px;
  padding-bottom: 10px;
  color: black;
  font-size: 16px;
  font-weight: 600;
}

.navbar-nav {
  margin-top: 5px;
  margin-bottom: 5px !important;
}

.navbar-collapse {
  background-color: #f5d7e1;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 60px;
}

.nav-item {
  padding: 0 20px;
}

.nav-item a {
  margin-left: 10px;
  padding-bottom: 10px;
  color: #2a2a2a;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s ease;
  text-decoration: none;
  transition: 0.3s ease;
}

.nav-item a:hover,
.nav-item a.active {
  color: #d24675;
}

/* .nav-item a.active::after,
.nav-item a:hover::after{
  //agregar linea hotizontal
    content: "";
    width: 30%;
    height: 2px;
    background:black;
    position: absolute;
    bottom:-4px;
    left: 20px;
} */
#menuHamb:focus {
  box-shadow: none;
}

.navbar-toggler {
  margin-bottom: 5px;
  display: inherit;
}

/* barra-buscadora */
#ctn-icon-search i:hover {
  color: #3f3fee;
}

#ctn-bars-search input {
  padding: 10px;
  font-size: 18px;
  outline: 0; /*elimina linea cuando se hace foco*/
  border-radius: 5px;
  border-color: cornsilk;
}

#box-search li a {
  display: block;
  color: #cad2d7;
  padding: 12px 20px;
}

#box-search li {
  list-style-type: none;
}

#box-search li a:hover {
  background-color: #e6e7e7;
}

/*icono lupita*/
.fa-search {
  color: grey;
  margin-right: 10px;
}

#box-search {
  position: fixed;
  top: 152px;
  left: 50%;
  transform: translateX(-111px);
  width: 224px;
  z-index: 8;
  background-color: whitesmoke;
  padding-left: 5px;
  border-radius: 5px;
  display: none; /*solo se mostrara con la funcion JS*/
}

#ctn-bars-search2 {
  display: none;
}

#box-search2 li a {
  display: block;
  color: #cad2d7;
  padding: 12px 20px;
}

#box-search2 li {
  list-style-type: none;
}

#box-search2 li a:hover {
  background-color: #e6e7e7;
}

#box-search2 {
  position: fixed;
  top: 66px;
  left: 50%;
  transform: translateX(-111px);
  width: 224px;
  z-index: 8;
  background-color: whitesmoke;
  padding-left: 5px;
  border-radius: 5px;
  display: none; /*solo se mostrara con la funcion JS*/
}

#ctn-icon-search2 i:hover {
  color: #3f3fee;
}

#ctn-bars-search2 input {
  padding: 10px;
  font-size: 18px;
  outline: 0; /*elimina linea cuando se hace foco*/
  border-radius: 5px;
  border-color: cornsilk;
}

/* 
 Portada
*/
.heading {
  text-align: center;
  color: palevioletred;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 2.5rem;
}

.heading span {
  color: palevioletred;
  text-transform: uppercase;
}

.about {
  margin-left: 22px;
  margin-right: 22px;
}

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.about .row .image {
  flex: 1 1 12rem;
}

.about .row .image img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 17rem;
  padding: 2rem;
}

.about .row .content h3 {
  font-size: 2rem;
  color: #2a2a2a;
}

.about .row .content p {
  font-size: 1rem;
  color: #2a2a2a;
  padding: 1rem 0;
}

/* 
  Contenedor productos
*/
.menu {
  margin-left: 10px;
  margin-right: 10px;
}

.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, fr));
  gap: 1.5rem;
}

.menu .box-container .boxProd {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #c3c0c0;
  border-radius: 10px;
  position: relative;
}

.menu .box-container .boxProd img {
  width: 18rem;
  height: 0 auto;
  border-radius: 10px;
  margin-top: 10px;
}

.menu .box-container .boxProd h3 {
  color: #2a2a2a;
  font-size: 1rem;
  padding: 1rem 0;
}

.menu .box-container .boxProd .price {
  color: #2a2a2a;
  font-size: 1rem;
  padding: 0.5rem 0;
}

.menu .box-container .boxProd:hover {
  background: #e8b4b4;
}

.menu .box-container .boxProd:hover > * {
  color: #fff;
}

.cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  font-weight: 500;
  color: #d24675;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

.section-p1 {
  padding: 40px 80px;
}

#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table img {
  width: 100%;
}

#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}

#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(3) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}

#cart table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}

#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}

#cart table tbody tr td {
  padding-top: 15px;
}

#cart table tbody td {
  font-size: 13px;
}

#cart {
  overflow-x: auto;
}

#cart-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#coupon {
  width: 50%;
  margin-bottom: 30px;
}

#coupon h3,
#subtotal h3 {
  padding-bottom: 15px;
}

#coupon input {
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #e2e9e1;
}

#coupon button,
#subtotal button {
  background-color: #d24675;
  border: none;
  padding: 12px 20px;
  color: #e2e9e1;
  font-weight: bold;
  border-radius: 5px;
}

#subtotal {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  padding: 30px;
}

#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

#subtotal table td {
  width: 100%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}

@media (min-width: 560px) {
  .banner-image .content {
    width: 300px;
  }
  #inputSearch {
    width: 300px;
  }
  .about .row .image {
    flex: 1 1 21rem;
  }
}
@media (min-width: 501px) {
  .about .row .image {
    flex: 1 1 19rem;
  }
}
@media (min-width: 622px) {
  .about .row .image {
    flex: 1 1 23rem;
  }
}
@media (min-width: 676px) {
  .about .row .image {
    flex: 1 1 26rem;
  }
}
@media (min-width: 690px) {
  .about .row .image {
    flex: 1 1 32rem;
  }
}
@media (min-width: 734px) {
  .banner-image .content {
    width: 500px;
  }
  #inputSearch {
    width: 500px;
  }
  .about .row .image {
    flex: 1 1 34rem;
  }
  .menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 2fr));
    gap: 1.5rem;
  }
}
@media (min-width: 832px) {
  .about .row .image {
    flex: 1 1 30rem;
  }
  .about .row .content {
    flex: 1 1 19rem;
    padding: 2rem;
  }
  .about .row .content h3 {
    font-size: 1rem;
  }
  .about .row .content p {
    font-size: 0.9rem;
  }
  .about .row .content .p-2 {
    display: none;
    font-size: 0.8rem;
  }
  /* .menu .box-container .box {
      overflow-x: hidden;
   } */
}
@media (min-width: 1021) {
  .menu .box-container .boxProd {
    overflow-x: hidden;
  }
}
@media (min-width: 1024px) {
  .banner-image .content {
    width: 700px;
  }
  #inputSearch {
    width: 700px;
  }
  .about .row .image {
    flex: 1 1 34rem;
  }
  .about .row .content .p-2 {
    display: block;
    font-size: 0.95rem;
  }
  .about .row .content p {
    font-size: 0.95rem;
  }
  .about .row .content h3 {
    font-size: 2rem;
  }
  /* .menu .box-container .box {
      overflow-x: hidden;
   }
  */
}
@media (min-width: 1060px) {
  .about .row .image {
    flex: 1 1 34rem;
  }
  .about .row .content .p-2 {
    display: block;
    font-size: 1rem;
  }
  .about .row .content p {
    font-size: 1rem;
  }
  .about .row .content h3 {
    font-size: 2rem;
  }
  .about {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
@media (max-width: 799px) {
  .section-p1 {
    padding: 40px 40px;
  }
}
@media (max-width: 477px) {
  .section-p1 {
    padding: 20px;
  }
  #cart-add {
    flex-direction: column;
  }
  #coupon {
    width: 100%;
  }
  #subtotal {
    width: 100%;
    padding: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
