.banner-image{
    background-image: url(https://res.cloudinary.com/da5fzpyjp/image/upload/v1676689253/flores/pexels-photo-6331085_egvusn.jpg);
    background-size: cover; //la img cubre todo el fondo sin distorcionar
    height: 15rem;
}

//carrito en nav
#lg-bag{
    display: block;
}

//carrito dnetro de menu hamburgueza
#mobile a{
    margin-left: 10px;
    padding-bottom: 10px;
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.navbar-nav{
    margin-top: 5px;
    margin-bottom: 5px !important;
}

.navbar-collapse {
    background-color: #f5d7e1;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 60px;
}  

.nav-item {
    padding: 0 20px;
    
}


.nav-item a {
    margin-left: 10px;
    padding-bottom: 10px;
    color: #2a2a2a;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease;
    text-decoration: none;
    transition: 0.3s ease;
}

.nav-item a:hover,
.nav-item a.active {
    color: #d24675;
}

//para hacer linea horizontal, se be colocar position:relative en nav-item
/* .nav-item a.active::after,
.nav-item a:hover::after{
  //agregar linea hotizontal
    content: "";
    width: 30%;
    height: 2px;
    background:black;
    position: absolute;
    bottom:-4px;
    left: 20px;
} */



//Eliminado focus de boostrap
#menuHamb:focus {
    box-shadow: none;
}
//hamburgueza
.navbar-toggler {
    margin-bottom: 5px;
    display: inherit;
}
  


/* barra-buscadora */



#ctn-icon-search i:hover {
    color: #3f3fee;
}  

#ctn-bars-search input {
    //position: fixed;
   // top: 144px;
   // left: 93px;
   // width: 1000px;
    //margin: auto;  /*para centrar*/
    padding: 10px;
    font-size: 18px;
    outline: 0;    /*elimina linea cuando se hace foco*/
    border-radius: 5px;
    border-color: cornsilk;
}


#box-search li a {
    display: block;
    color: #cad2d7;
    padding: 12px 20px;
}

#box-search li{
    list-style-type: none;  
    
}

#box-search li a:hover {
    background-color: #e6e7e7;
}

/*icono lupita*/
.fa-search{
    color: grey;
    margin-right: 10px;
}




//modificaciones con js
#box-search{
    position: fixed;
    top: 152px;
    left: 50%;
    transform: translateX(-111px);
    width: 224px;
    z-index: 8;
    background-color: whitesmoke;
    padding-left: 5px;
    border-radius: 5px;
    display: none; /*solo se mostrara con la funcion JS*/ 
}

#ctn-bars-search2 {
    display: none;
  }

#box-search2 li a {
    display: block;
    color: #cad2d7;
    padding: 12px 20px;
}

#box-search2 li{
    list-style-type: none;   
    
}

#box-search2 li a:hover {
    background-color: #e6e7e7;
}

//modificaciones con js
#box-search2{
    position: fixed;
    top: 66px;
    left: 50%;
    transform: translateX(-111px);
    width: 224px;
    z-index: 8;
    background-color: whitesmoke;
    padding-left: 5px;
    border-radius: 5px;
    display: none; /*solo se mostrara con la funcion JS*/ 
}




#ctn-icon-search2 i:hover {
    color: #3f3fee;
}  

#ctn-bars-search2 input {
    //position: fixed;
   // top: 144px;
   // left: 93px;
   // width: 1000px;
    //margin: auto;  /*para centrar*/
    padding: 10px;
    font-size: 18px;
    outline: 0;    /*elimina linea cuando se hace foco*/
    border-radius: 5px;
    border-color: cornsilk;
}

/* 
 Portada
*/

.heading{
    text-align: center;
    color: palevioletred;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 2.5rem;
}

.heading span {
    color: palevioletred;
    text-transform: uppercase;
}

.about{
    margin-left: 22px;
    margin-right: 22px;
}

.about .row{
    display: flex;
    align-items: center;
    //background: var(--black); //--black util para cambiar en todas las var
    flex-wrap: wrap;
}

.about .row .image{
    flex: 1 1 12rem;//1:crecera lo necesario para llenar el contenedor
                    //1:se encongera necesario hasta ajustarse al contenedor
                    //45rem:tama;o inicial 45 rem
                  
}

.about .row .image img{
    width: 100%;
}

.about .row .content {
    flex: 1 1 17rem;
    padding: 2rem;
}

.about .row .content h3{
    font-size: 2rem;
    color: #2a2a2a;
}

.about .row .content p{
    font-size: 1rem; 
    color: #2a2a2a;
    padding: 1rem 0;//arriba y abajo 1rem, dere e izq sin padding
   // line-height: 1.8; //altura de las entrelineas
}

/* 
  Contenedor productos
*/


.menu{
    margin-left: 10px;
    margin-right: 10px;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,fr));
    gap: 1.5rem;
}

.menu .box-container .boxProd {
   // padding: 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   border: 1px solid #c3c0c0 ;
   border-radius: 10px;
   position: relative;
}

.menu .box-container .boxProd img{
    width: 18rem;
   height: 0 auto;
   border-radius: 10px;
   margin-top: 10px;
}

.menu .box-container .boxProd h3{
    color: #2a2a2a;
    font-size: 1rem;
    padding: 1rem 0;
}

.menu .box-container .boxProd .price{
    color: #2a2a2a;
    font-size: 1rem;
    padding: .5rem 0;
}



.menu .box-container .boxProd:hover{
    background: #e8b4b4;
}

.menu .box-container .boxProd:hover > *{//elementos que descienden de box
    color: #fff;
}

    //boton carrito
.cart{
   width: 40px; 
   height: 40px;
   line-height: 40px;
   border-radius: 50px;
   font-weight: 500;
   color: #d24675;
   border: 1px solid #cce7d0;
   position: absolute;
   bottom: 20px;
   right: 10px;
}    

